body {
  background-color: #F0F0EF;
}

h2 {
  padding: 0px !important;
}

h3 {
  padding: 0px !important;
}

.App {
  text-align: center;
  background-color: #F0F0EF;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ui.teal.button {
  color: #000 !important;
  background: linear-gradient(45deg, #7cbadf, #94e6f1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) !important;
}

.ui.teal.button:hover {
  color: #000 !important;
  background: linear-gradient(45deg, #75afd2, #8fdde8);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4) !important;
}

.mapContainer {
  border-radius: 10px !important;
}

.ui.menu {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
}

